
.container{
  margin-top: 0%;
  background: rgb(224,6,6);
background: linear-gradient(270deg, rgba(224,6,6,1) 0%, rgba(21,41,180,1) 50%, rgba(255,255,255,0) 100%);}

.containerHead{
  text-align: center;
}
.item{
  border-color: brown;
  border-radius: 2px;
}